<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BookLoop</title>

    <h1>BookLoop</h1>

        <h3>Hi, {{username}}!</h3>
</head>
<body>
    <div>
        <a href="/books">
            <button>Search listed books</button>
        </a>

        <a href="/createlisting">
            <button>Create listing</button>
        </a>
        <br>

        <a href="/mybooks">
            <button>My books</button>
        </a>

        <a href="/chats">
            <button>My Chats</button>
        </a>
        <br>

        <a href="/logout">
            <button>Log out</button>
        </a>
    </div>
</body>
</html></html>